/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

/************** Header ************/
.navigation .logo {
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo > span {
  color: var(--accent-color);
}
.head-page {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.curent {
  color: var(--accent-color);
}

.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.mail-link {
  margin-right: 50px;
  padding-left: 331px;
}

/******************* ГЕРОЙ ****************/
.hero {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/******************* ПРИЕМУЩЕСТВА ***************/
.advanteges {
  padding-top: 94px;
  margin-bottom: 0;
}
.advanteges-list .title {
  color: var(--title-text-color);
}
.advanteges-list .title {
  margin-bottom: 10px;
  margin-top: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advanteges-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.advanteges-list {
  display: flex;
  align-items: center;
}
.item-list-advanteges {
  margin-right: 30px;
}
/****************** РОД ДЕЯТЕЛЬНОСТИ ****************/
.work-activity {
  padding-top: 94px;
  padding-bottom: 94px;
}
.activity-item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-item:not(:last-child) {
  margin-right: 30px;
}
/****************** ЗАГОЛОВКИ СЕКЦИЙ *****************/
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*******************КОМАНДА******************/
.team-description .title {
  padding-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-description .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-description {
  display: block;
  padding: 30px 30px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.section-team {
  background-color: var(--button-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.foto-team {
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/***************** КНОПКИ ***************/
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
}
.button.hero {
  margin: 0 auto;
  padding: 10px 30px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/***************** ПОРТФОЛИО **************/
.filter-button-page {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}
.button-portfolio {
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: none;
  cursor: pointer;

  background-color: var(--button-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.portfolio-button-list:not(:first-child) {
  margin-left: 8px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-list-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.potfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.portfolio-list-card .post-name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-card .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.card-description {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.section-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

/***************** ФУТЕР ******************/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.adress {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}
.contact-footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail {
  margin-bottom: 9px;
}
.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}
